<div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6" ng-init="init()">
    <div style="margin-top:50px;" class="widget">
        <div class="widget-title">
            <i class="fa fa-users"></i> Fantasy Ally Login
            <div class="clearfix"></div>
        </div>
        <div class="widget-body">
            <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
            <form id="loginform" class="form-horizontal" ng-submit="login()">

                <div style="margin-bottom: 25px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input id="login-username" type="text" class="form-control" name="email" ng-model="login.email"
                           placeholder="Email" required>
                </div>

                <div style="margin-bottom: 25px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input id="login-password" type="password" class="form-control" name="password"
                           placeholder="Password" ng-model="login.password" required>
                </div>

                <div style="margin-top:10px" class="form-group">
                    <!-- Button -->
                    <div class="col-sm-12 controls">
                        <button id="btn-login" class="btn btn-success" type="submit">Login </button>
                    </div>
                </div>
                <div class="message error">
                    {{login.error}}
                </div>
            </form>
        </div>
    </div>
</div>