<div ng-controller="ScoreboardCtrl" ng-init="getScoreboards('espn','football')">
    <div class="row">
        <div class="col-lg-12">
            <div class="checkbox">
                <label>
                    <input type="checkbox" class="bs-material" ng-model="isFiltered" ng-click="filterMyTeams()"><span
                        class="check"></span> Only my teams
                </label>
            </div>
        </div>
    </div>
    <div class="row" ng-repeat="scoreboard in scoreboards">
        <div class="widget no-padding">
            <div class="widget-title title">
                <div class="row">
                    <img class="logo" ng-src="{{getImageSrc(scoreboard)}}"/>
                    <h5 class="name"><a href="{{scoreboard.url}}" target="_blank">{{scoreboard.name}}</a></h5>
                    <i ng-if="sockets[$index].connected" class="fa fa-circle text-success status"></i>
                    <i ng-if="!sockets[$index].connected" class="fa fa-circle text-danger status"></i>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="widget-body no-padding">
                <div class="row">
                    <div class="col-lg-2 col-md-4 col-sm-6" ng-repeat="game in scoreboard.games" ng-if="game.visible">

                        <!--<div ng-repeat="team in game.homeTeam">-->
                        <!--<div class="title">{{team.name}}</div>-->
                        <!--</div>-->
                        <div class="widget" ng-repeat="team in game.awayTeam">
                            <div class="widget-body no-padding teamPanel"
                                 ng-class="{done: team.yetToPlay === '0' && team.inPlay === '0', highlightGreen: team.scoreState === 'increase', highlightRed: team.scoreState === 'decrease'}">
                                <div class="col-xs-12 toppanel">
                                    <h4 class="teamName">{{team.name}}</h4>
                                    <h6 class="record">{{team.record}}</h6>
                                    <h4 class="score pull-right">{{team.score}}</h4>
                                </div>
                                <div class="row">
                                    <h6 class="col-xs-3 inPlay">IP: {{team.inPlay}}</h6>
                                    <h6 class="col-xs-3 yetPlay">YET: {{team.yetToPlay}}</h6>
                                    <h6 class="col-xs-6 projectedScore">PROJ: {{team.projected}}</h6>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="widget" ng-repeat="team in game.homeTeam">
                            <div class="widget-body no-padding teamPanel"
                                 ng-class="{done: team.yetToPlay === '0' && team.inPlay === '0', highlightGreen: team.scoreState === 'increase', highlightRed: team.scoreState === 'decrease'}">
                                <div class="col-xs-12 toppanel">
                                    <h4 class="teamName">{{team.name}}</h4>
                                    <h6 class="record">{{team.record}}</h6>
                                    <h4 class="score pull-right">{{team.score}}</h4>
                                </div>
                                <div class="row">
                                    <h6 class="col-xs-3 inPlay">IP: {{team.inPlay}}</h6>
                                    <h6 class="col-xs-3 yetPlay">YET: {{team.yetToPlay}}</h6>
                                    <h6 class="col-xs-6 projectedScore">PROJ: {{team.projected}}</h6>
                                </div>
                            </div>
                        </div>
                        <br/>
                    </div>
                </div>
            </div>
        </div>

    </div>
    {{error}}
</div>