<div ng-controller="ScoreboardCtrl" ng-init="getScoreboards('espn','football')">
    <div class="col-lg-3 col-md-4 col-sm-6 teamPanel" ng-repeat="scoreboard in scoreboards">


        <div class="widget">
            <div class="widget-title title">
                <h5 class="name">{{scoreboard.name}}
                    <i ng-if="sockets[$index].connected" class="fa fa-circle text-success pull-right"></i>
                    <i ng-if="!sockets[$index].connected" class="fa fa-circle text-danger pull-right"></i>
                </h5>
            </div>
        </div>
        <div ng-repeat="game in scoreboard.games">

            <!--<div ng-repeat="team in game.homeTeam">-->
            <!--<div class="title">{{team.name}}</div>-->
            <!--</div>-->
            <div class="widget" ng-repeat="team in game.awayTeam">
                <div class="widget-body no-padding teamPanel">
                    <div class="row">
                        <h4 class="col-xs-9 teamName">{{team.name}}</h4>
                        <h4 class="col-xs-3 score">{{team.score}}</h4>
                    </div>
                    <div class="row">
                        <h6 class="col-xs-3 inPlay">IP: {{team.inPlay}}</h6>
                        <h6 class="col-xs-3 yetPlay">YET: {{team.yetToPlay}}</h6>
                        <h6 class="col-xs-6 projectedScore">PROJ: {{team.projected}}</h6>
                    </div>
                </div>
            </div>
            <div class="widget" ng-repeat="team in game.homeTeam">
                <div class="widget-body no-padding teamPanel">
                    <div class="row">
                        <h4 class="col-xs-9 teamName">{{team.name}}</h4>
                        <h4 class="col-xs-3 score">{{team.score}}</h4>
                    </div>
                    <div class="row">
                        <h6 class="col-xs-3 inPlay">IP: {{team.inPlay}}</h6>
                        <h6 class="col-xs-3 yetPlay">YET: {{team.yetToPlay}}</h6>
                        <h6 class="col-xs-6 projectedScore">PROJ: {{team.projected}}</h6>
                    </div>
                </div>
            </div>
            <br/>
        </div>
    </div>
    {{error}}
</div>