<div ng-controller="SiteCtrl">
    <div class="col-lg-2 teamPanel" ng-repeat="team in teams">
        <div class="widget">
            <div class="widget-body no-padding">
                <div class="vmiddle">
                    <img height="100px" width="100px" src="{{team.teamImageUrl}}"/>
                </div>

                <div class="vmiddle">
                    <h6>{{team.name}} : {{team.active}}</h6>
                </div>

                <table class="table">
                    <thead>
                    <tr>
                        <th>Slot</th>
                        <th>Player</th>
                        <th>Opp.</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="player in team.players">
                        <td>
                            {{player.position}}
                        </td>
                        <td>
                            {{player.playerName}}
                        </td>
                        <td>
                            {{player.opponent}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            <!--</div>-->
        <!--</div>-->
    </div>
</div>