.login-controls {
  padding: 12px;
}
.login-controls .loginButton {
  box-sizing: border-box;
  min-width: 100px;
  line-height: 28px;
  height: 28px;
  border-radius: 3px;
  border: 1px solid #7b8386;
  color: #7b8386;
  padding: 5px;
  text-decoration: none;
}
/*
 * override the default CSS as an example
 */
#loading-bar .bar {
  background: #2c3e50;
}
#loading-bar-spinner .spinner-icon {
  border-top-color: #2c3e50;
  border-left-color: #2c3e50;
}
#loading-bar .peg {
  -moz-box-shadow: #2c3e50 1px 0 6px 1px;
  -ms-box-shadow: #2c3e50 1px 0 6px 1px;
  -webkit-box-shadow: #2c3e50 1px 0 6px 1px;
  box-shadow: #2c3e50 1px 0 6px 1px;
}
