.title {
  .status {
    .connected{
      background: green;
    }

    .disconnected{
      background: #ff0000;
    }

  }
}

.teamPanel {

  min-height: 95px;

  .teamName {
    text-align: left;
  }

  .score {
    text-align: right;
  }

  .inPlay {
    text-align: left;
  }

  .yetPlay {
    text-align: left;
  }

  .projectedScore {
    text-align: right;
  }
}
