.title {
  .status {
    .connected{
      background: green;
    }

    .disconnected{
      background: #ff0000;
    }

  }
}

.teamPanel {

  min-height: 95px;

  .highlightGreen{
    background-color: lightgreen;
    /*Transition*/
    -webkit-transition: background-color 3s ease;
    -moz-transition: background-color 3s ease;
    -o-transition: background-color 3s ease;
    transition: background-color 3s ease;
  }

  .highlightRed{
    background-color: lightsalmon;
    /*Transition*/
    -webkit-transition: background-color 3s ease;
    -moz-transition: background-color 3s ease;
    -o-transition: background-color 3s ease;
    transition: background-color 3s ease;
  }

  .teamName {
    text-align: left;
  }

  .score {
    text-align: right;
  }

  .inPlay {
    text-align: left;
  }

  .yetPlay {
    text-align: left;
  }

  .projectedScore {
    text-align: right;
  }
}
