<!doctype html>
<html lang="en" ng-app="Dashboard">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Dashboard</title>

    <!-- build:less lib/bootstrap/css/bootstrap.css -->
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <!-- endbuild -->

    <!-- build:css lib/font-awesome/css/font-awesome.css -->
    <link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.css">
    <!-- endbuild -->

    <!-- build:css lib/angular-loading-bar/css/angular-loading-bar.css -->
    <link rel="stylesheet" type="text/css" href="bower_components/angular-loading-bar/build/loading-bar.css">
    <!-- endbuild -->

    <!-- build:css css/dashboard/dashboard.css -->
    <link rel="stylesheet" type="text/css" href="less/dashboard/main.css">
    <link rel="stylesheet" type="text/css" href="less/dashboard/loading.css">
    <link rel="stylesheet" type="text/css" href="less/dashboard/content.css">
    <link rel="stylesheet" type="text/css" href="less/dashboard/header.css">
    <link rel="stylesheet" type="text/css" href="less/dashboard/sidebar.css">
    <link rel="stylesheet" type="text/css" href="less/dashboard/widgets.css">
    <link rel="stylesheet" type="text/css" href="less/dashboard/hamburg.css">
    <link rel="stylesheet" type="text/css" href="less/dashboard/news.css">
    <link rel="stylesheet" type="text/css" href="less/dashboard/login.css">
    <link rel="stylesheet" type="text/css" href="less/dashboard/loading-bar.css">
    <link rel="stylesheet" type="text/css" href="less/dashboard/scoreboard.css">
    <link rel="stylesheet" type="text/css" href="less/dashboard/account.css">
    <link rel="stylesheet" type="text/css" href="less/dashboard/teams.css">
    <!-- endbuild -->

    <!-- SCRIPTS -->
    <!-- build:js lib/angular/angular.js -->
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <!-- endbuild -->
    <!-- build:js lib/angular-cookies/angular-cookies.js -->
    <script type="text/javascript" src="bower_components/angular-cookies/angular-cookies.js"></script>
    <!-- endbuild -->
    <!-- build:js lib/angular-bootstrap/ui-bootstrap.js -->
    <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <!-- endbuild -->
    <!-- build:js lib/angular-bootstrap/ui-bootstrap-tpls.js -->
    <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- endbuild -->
    <!-- build:js lib/angular-ui-router/angular-ui-router.js -->
    <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <!-- endbuild -->
    <!-- build:js lib/angular-loading-bar/angular-loading-bar.js -->
    <script type="text/javascript" src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <!-- endbuild -->
    <!-- build:js lib/angular-animate/angular-animate.js -->
    <script type="text/javascript" src="bower_components/angular-animate/angular-animate.js"></script>
    <!-- endbuild -->
    <!-- build:js lib/google-angulartics.js -->
    <script type="text/javascript" src="bower_components/angulartics/dist/angulartics.min.js"></script>
    <script type="text/javascript" src="bower_components/angulartics/dist/angulartics-ga.min.js"></script>
    <!-- endbuild -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-43107610-2', { 'cookieDomain': 'none' });
    </script>
    <!-- build:js lib/socketio.js -->
    <script type="text/javascript" src="bower_components/socket.io-client/socket.io.js"></script>
    <!-- endbuild -->

    <!-- build:js js/dashboard.js -->
    <script type="text/javascript" src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <script type="text/javascript" src="bower_components/angular-md5/angular-md5.js"></script>
    <script type="text/javascript" src="js/dashboard/module.js"></script>
    <script type="text/javascript" src="js/dashboard/routes.js"></script>
    <script type="text/javascript" src="js/dashboard/services/site-service.js"></script>
    <script type="text/javascript" src="js/dashboard/services/user-service.js"></script>
    <script type="text/javascript" src="js/dashboard/services/scoreboard-service.js"></script>
    <script type="text/javascript" src="js/dashboard/controllers/master-ctrl.js"></script>
    <script type="text/javascript" src="js/dashboard/controllers/news-ctrl.js"></script>
    <script type="text/javascript" src="js/dashboard/controllers/site-ctrl.js"></script>
    <script type="text/javascript" src="js/dashboard/controllers/account-ctrl.js"></script>
    <script type="text/javascript" src="js/dashboard/controllers/scoreboard-ctrl.js"></script>
    <script type="text/javascript" src="js/dashboard/controllers/login-ctrl.js"></script>
    <script type="text/javascript" src="js/dashboard/controllers/signup-ctrl.js"></script>
    <script type="text/javascript" src="js/dashboard/controllers/player-matrix-ctrl.js"></script>
    <script type="text/javascript" src="js/dashboard/directives/loading.js"></script>
    <!-- endbuild -->

    <!-- SCRIPTS -->

</head>
<body ng-controller="MasterCtrl" ng-init="init()">
<div id="page-wrapper" ng-class="{'active': toggle}" ng-cloak>

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar">
            <li class="sidebar-main">
                <a ng-click="toggleSidebar()">
                    FANTASY ALLY
                    <span class="menu-icon glyphicon glyphicon-transfer"></span>
                </a>
            </li>
            <li class="sidebar-title"><span>NAVIGATION</span></li>
            <li class="sidebar-list">
                <a href="#">News <span class="menu-icon fa fa-tasks"></span></a>
            </li>
            <li class="sidebar-list">
                <a href="#/playerMatrix">Player Matrix <span class="menu-icon fa fa-users"></span></a>
            </li>
            <li class="sidebar-list">
                <a href="#/sites">Teams <span class="menu-icon fa fa-tachometer"></span></a>
            </li>
            <li class="sidebar-list">
                <a href="#/scoreboards">Scoreboards <span class="menu-icon fa fa-star"></span></a>
            </li>
            <!--<li class="sidebar-list">-->
            <!--<a href="#">Servers <span class="menu-icon fa fa-tasks"></span></a>-->
            <!--</li>-->
            <!--<li class="sidebar-list">-->
            <!--<a href="#">Settings <span class="menu-icon fa fa-cogs"></span></a>-->
            <!--</li>-->
            <!--<li class="sidebar-title separator"><span>QUICK LINKS</span></li>-->
            <!--<li class="sidebar-list">-->
            <!--<a href="#" target="_blank">Forums <span class="menu-icon fa fa-external-link"></span></a>-->
            <!--</li>-->
        </ul>
        <div class="sidebar-footer">
            <!--<div class="col-xs-4">-->
            <!--<a href="#" target="_blank">-->
            <!--About-->
            <!--</a>-->
            <!--</div>-->
        </div>
    </div>

    <!-- End Sidebar -->

    <div id="content-wrapper">
        <div class="page-content">
            <!-- Header Bar -->
            <div class="row header">
                <div class="col-xs-12">
                    <div class="user pull-right">
                        <div ng-show="user" class="item dropdown">
                            <a href="#" class="dropdown-toggle">
                                <img ng-src="{{user.avatarUrl}}">
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="dropdown-header">
                                    {{user.email}}
                                </li>
                                <li class="divider"></li>
                                <li class="link" ng-if="user">
                                    <a href="#/account">
                                        Account
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li class="link">
                                    <a ng-click="logout()">
                                        Logout
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div ng-show="!user" class="login-controls">
                            <a href="#/login">Login</a>
                            /
                            <a href="#/signup">Signup</a>
                        </div>
                    </div>
                    <div class="meta">
                        <div class="page">
                            {{title}}
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Header Bar -->

            <!-- Main Content -->
            <section data-ui-view></section>
        </div>
        <!-- End Page Content -->
    </div>
    <!-- End Content Wrapper -->
</div>
<!-- End Page Wrapper -->
<!--<div ng-view></div>-->
</body>
</html>