<!doctype html>
<html lang="en" ng-app="Dashboard">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Dashboard</title>

    <!-- build:less lib/bootstrap/css/bootstrap.css -->
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <!-- endbuild -->

    <!-- build:css lib/font-awesome/css/font-awesome.css -->
    <link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.css">
    <!-- endbuild -->

    <!-- build:css lib/angular-loading-bar/css/angular-loading-bar.css -->
    <link rel="stylesheet" type="text/css" href="bower_components/angular-loading-bar/build/loading-bar.css">
    <!-- endbuild -->

    <!-- build:css css/dashboard/dashboard.css -->
    <link rel="stylesheet" type="text/css" href="less/dashboard/main.css">
    <link rel="stylesheet" type="text/css" href="less/dashboard/loading.css">
    <link rel="stylesheet" type="text/css" href="less/dashboard/content.css">
    <link rel="stylesheet" type="text/css" href="less/dashboard/header.css">
    <link rel="stylesheet" type="text/css" href="less/dashboard/sidebar.css">
    <link rel="stylesheet" type="text/css" href="less/dashboard/widgets.css">
    <link rel="stylesheet" type="text/css" href="less/dashboard/hamburg.css">
    <link rel="stylesheet" type="text/css" href="less/dashboard/news.css">
    <link rel="stylesheet" type="text/css" href="less/dashboard/login.css">
    <link rel="stylesheet" type="text/css" href="less/dashboard/loading-bar.css">
    <link rel="stylesheet" type="text/css" href="less/dashboard/scoreboard.css">
    <link rel="stylesheet" type="text/css" href="less/dashboard/account.css">
    <link rel="stylesheet" type="text/css" href="less/dashboard/teams.css">
    <!-- endbuild -->

    <!-- build:css css/dashboard/material.css -->
    <link href="bower_components/bootstrap-material-design/css-compiled/ripples.css" rel="stylesheet">
    <link href="bower_components/bootstrap-material-design/css-compiled/material.css" rel="stylesheet">
    <link href="bower_components/bootstrap-material-design/icons/icons-material-design.css" rel="stylesheet">
    <!-- endbuild -->

    <!-- SCRIPTS -->
    <!-- build:js lib/angular/angular.js -->
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <!-- endbuild -->
    <!-- build:js lib/angular-cookies/angular-cookies.js -->
    <script type="text/javascript" src="bower_components/angular-cookies/angular-cookies.js"></script>
    <!-- endbuild -->
    <!-- build:js lib/angular-bootstrap/ui-bootstrap.js -->
    <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <!-- endbuild -->
    <!-- build:js lib/angular-bootstrap/ui-bootstrap-tpls.js -->
    <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- endbuild -->
    <!-- build:js lib/angular-ui-router/angular-ui-router.js -->
    <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <!-- endbuild -->
    <!-- build:js lib/angular-loading-bar/angular-loading-bar.js -->
    <script type="text/javascript" src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <!-- endbuild -->
    <!-- build:js lib/angular-animate/angular-animate.js -->
    <script type="text/javascript" src="bower_components/angular-animate/angular-animate.js"></script>
    <!-- endbuild -->
    <!-- build:js lib/google-angulartics.js -->
    <script type="text/javascript" src="bower_components/angulartics/dist/angulartics.min.js"></script>
    <script type="text/javascript" src="bower_components/angulartics/dist/angulartics-ga.min.js"></script>
    <!-- endbuild -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-43107610-2', { 'cookieDomain': 'none' });
    </script>
    <!-- build:js lib/socketio.js -->
    <script type="text/javascript" src="bower_components/socket.io-client/socket.io.js"></script>
    <!-- endbuild -->

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <!-- build:js js/dashboard.js -->
    <script type="text/javascript" src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <script type="text/javascript" src="bower_components/angular-md5/angular-md5.js"></script>
    <script type="text/javascript" src="js/dashboard/module.js"></script>
    <script type="text/javascript" src="js/dashboard/routes.js"></script>
    <script type="text/javascript" src="js/dashboard/services/site-service.js"></script>
    <script type="text/javascript" src="js/dashboard/services/user-service.js"></script>
    <script type="text/javascript" src="js/dashboard/services/scoreboard-service.js"></script>
    <script type="text/javascript" src="js/dashboard/controllers/master-ctrl.js"></script>
    <script type="text/javascript" src="js/dashboard/controllers/news-ctrl.js"></script>
    <script type="text/javascript" src="js/dashboard/controllers/site-ctrl.js"></script>
    <script type="text/javascript" src="js/dashboard/controllers/account-ctrl.js"></script>
    <script type="text/javascript" src="js/dashboard/controllers/scoreboard-ctrl.js"></script>
    <script type="text/javascript" src="js/dashboard/controllers/login-ctrl.js"></script>
    <script type="text/javascript" src="js/dashboard/controllers/signup-ctrl.js"></script>
    <script type="text/javascript" src="js/dashboard/controllers/player-matrix-ctrl.js"></script>
    <script type="text/javascript" src="js/dashboard/directives/loading.js"></script>
    <!-- endbuild -->

    <!-- SCRIPTS -->
</head>
<body ng-controller="MasterCtrl" ng-init="init()">
<div class="bs-component">
    <div class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="javascript:void(0)">Fantasy Ally</a>
        </div>

        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <li class="sidebar-list">
                    <a href="#">News</span></a>
                </li>
                <li class="sidebar-list">
                    <a href="#/playerMatrix">Player Matrix</span></a>
                </li>
                <li class="sidebar-list">
                    <a href="#/sites">Teams</span></a>
                </li>
                <li class="sidebar-list">
                    <a href="#/scoreboards">Scoreboards</span></a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-show="!user">
                <li><a href="#/signup">Signup</a></li>
                <li><a href="#/login">Login</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-show="user">
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle avatar" data-toggle="dropdown">
                        <img ng-src="{{user.avatarUrl}}">
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">
                            {{user.email}}
                        </li>
                        <li class="divider"></li>
                        <li class="link" ng-if="user">
                            <a href="#/account">
                                Account
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li class="link">
                            <a ng-click="logout()">
                                Logout
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<section data-ui-view></section>

</body>
</html>